@import url('https://fonts.cdnfonts.com/css/pasundan');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFEDA0;
}

.titleFont {
  font-family: 'pasundan';
  font-size: 100px;
  margin: 0;
  margin-bottom: 20px;
  }
  
.choiceButton {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0;
  margin-bottom: 20px;
}

.choices {
  font-size: 20px;
  border: none;
  background-color: #D32F2F;
  border-radius: 10px;
  display: flex;
  font-family: 'IBM Plex Sans';
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #333;
}

.dataContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.mapContainer {
  border: 2px solid #D2691E;
  border-radius: 30px;
  background-color: #FFF8DC;
  width: 80%;
  align-self: center;
  padding: 20px;
}

.yearButton {
  color: black;
  height: 40px;
  width: 120px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  transition: background-color 0.5s ease;
}

.selectedYear {
  color: white;
  background-color: #CE1126;
}

.inputYear {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.buttonTop:hover {
  color: white;
  background-color: #D32F2F;
}

.inputProvince {
  height: 2em;
  margin-left: 1em;
  margin-right: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5em;
}

.dataContainer p {
  width: 500px;
  font-size: 25px;
  font-family: 'IBM Plex sans';
}

.inputation {
  display: flex;
  flex-direction: column;
}

.tableContainer {
  width: 85%;
  align-self: center;
  margin-top: 20px; 
  font-family: 'IBM Plex Sans';
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
